@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Vidaloka&display=swap');

:root { 
    --primary-color: #404258;
    --Secondary-color: #474E68;
    --third-color: #50577A;
    --fourth-color: #6B728E;
    --black: #000000;
    --white: #FFFFFF;
    --dark-gray: #121212;
    --medium-gray: #7f7f7f;
}


// :root { 
//     --primary-color: #5CDB95;
//     --Secondary-color: #05386B;
//     --third-color: #379683;
//     --fourth-color: #8EE4AF;
//     --fifth-color: #EDF5E1;
// }