@import "_variables";
@import "stylesheet_main";

#projects {
    margin-top: 3em;
}

.project-title {

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.2em;
        font-weight: bold;
        position: relative;
    }
    
    h2:after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #F0FF42;
        position: relative;
        right: 0;
        left: 130px;
        bottom: 10px;
    }
    
    p {
        font-family: 'Vidaloka', serif;
        font-size: 1.2em;
    }
}