@import "_variables";
@import "stylesheet_main";

.body, html {
    height: 100%;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    position: fixed;
    width: 100%;

    .navbar-nav {
        margin: 0;
        padding: 0;

        .collapse {
            width: 100%;
        }
        
        a {
            display: inline-block;
            padding: 30px;
            font-weight: bold;
            color: var(--white);
            font-size: 1.2em;
        }
    }

    .navbar-brand {
        display: inline-block;
        color: var(--white);
        padding-left: 1em;
        font-size: 2em;

        span {
            color: #F0FF42;
        }
    }
}

@media (max-width: 1024px) {

    .navbar {
        text-align: center;

        .navbar-nav {

            a {
                font-size: 1em;
            }
        }
    }

    .navbar-brand {
        font-size: 1.5em !important;
    }

    .collapse {
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {

    .navbar {
        text-align: center;

        .navbar-nav {

            a {
                font-size: 1em;
            }
        }
    }

    .navbar-brand {
        font-size: 1.2em !important;
    }

    .collapse {
        display: block;
        width: 100%;
    }
}