@import "_variables";
@import "stylesheet_main";

.body, html {
    height: 100%;
    position: relative;
}

.header-wrapper {
    max-width: 100%;
    min-height: 100vh;
    background: url(../img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(64, 66, 88, 0.2);

    .navbar-nav {
        margin: 0;
        padding: 0;
        
        a {
            display: inline-block;
            padding: 30px;
            font-weight: bold;
            color: var(--white);
            font-size: 1.2em;
        }

    }

    .navbar-brand {
        display: inline-block;
        color: var(--white) !important;
        padding-left: 2em !important;
        font-size: 2em;

        span {
            color: #F0FF42 !important;
        }
    }
}