@import "_variables";
@import "stylesheet_main";

.header-wrapper {
    max-width: 100%;
    min-height: 100vh;
    background: url(../img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-size: cover;
    display: flex;
}